<?xml version="1.0" ?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:property name="PI" value="3.14159265359"/>
   <!-- defining tool --><!-- Later, add collision models etc-->

  <!-- defining tool ATI Adapter Plate & Sensor-->
  <link name="controller_tool0">
  <!-- pen marker-->
      <visual>
        <geometry>
           <mesh filename="package://tool_model/meshes/Toolholder_Pen.stl" scale="0.001 0.001 0.001"/>
        </geometry>
        <origin rpy="0 3.14159 0.785398" xyz="0 0 0" />
        <material name="LightGrey">
          <color rgba="0.7 0.7 0.7 1.0"/>
        </material>
      </visual>
      <collision>
          <geometry>
             <mesh filename="package://tool_model/meshes/Toolholder_Pen.stl" scale="0.001 0.001 0.001"/>
          </geometry>
          <origin rpy="0 3.14159 0.785398" xyz="0 0 0" />
      </collision>
      <visual>
        <geometry>
           <mesh filename="package://tool_model/meshes/Fabric_Pen.stl" scale="0.001 0.001 0.001"/>
        </geometry>
        <origin rpy="3.14159 0 0" xyz="-0.044 -0.044 0.152" />
        <material name="LightGrey"/>
      </visual>
  </link>

  <!-- create a virutal link that is aligned with tool0 on the robot controller -->
  <joint name="controller_tool0" type="fixed">
    <parent link="ee_link"/>
    <child link="controller_tool0"/>
    <origin xyz="0 0 0" rpy="${-PI/2} 0 ${-PI/2}"/>
  </joint>

  <link name="tool"/> <!-- will be used for last point calculation-->
  <link name="tool_pre_rotate"/>
  <joint name="flange_to_tool" type="fixed">
          <parent link="controller_tool0" />
          <child link="tool_pre_rotate" />
          <origin xyz="0 0 0" rpy="0 0 2.35619"  />
  </joint>

  <joint name="flange_to_tool2" type="fixed">
          <parent link="tool_pre_rotate" />
          <child link="tool" />
          <!-- <origin xyz="0 0.0622 0.135" rpy="0 0 0"  /> -->
          <origin xyz="0 0.0622 0.152" rpy="0 0 0"  />
  </joint>
  <disable_collisions link1="controller_tool0" link2="link6" reason="Adjacent" /> <!-- add this to srdf, its useless here-->
</robot>
