<?xml version="1.0" ?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:property name="PI" value="3.14159265359"/>

<link name="tcp_viz">
  <visual>
    <geometry>
      <sphere radius="0.002"/>
    </geometry>
    <origin xyz="${0} ${0} ${0}" rpy="0 0 0"/>
    <material name="yellow">
     <color rgba="1 1 0 0.5"/>
    </material>
  </visual>
  <visual>
    <geometry>
      <cylinder radius="0.001" length="0.05"/>
    </geometry>
    <origin xyz="${0} ${0} ${0.025}" rpy="0 0 0"/>
    <material name="blue">
     <color rgba="0 0 1 1"/>
    </material>
  </visual>
  <visual>
    <geometry>
      <cylinder radius="0.001" length="0.05"/>
    </geometry>
    <origin rpy="0 1.5708 0" xyz="${0.025} ${0.0} ${0}" />
    <material name="red">
     <color rgba="1 0 0 1"/>
    </material>
  </visual>
  <visual>
    <geometry>
      <cylinder radius="0.001" length="0.05"/>
    </geometry>
    <origin rpy="1.5708 0 0" xyz="${0} ${0.025} ${0}"/>
    <material name="green">
     <color rgba="0 1 0 1"/>
    </material>
  </visual>
</link>
<joint name="tcp_joint" type="fixed">
  <parent link="tool" />
  <child link="tcp_viz" />
  <origin xyz="0 0 0" rpy="0 0 0"/>
</joint>


</robot>
