<?xml version="1.0" ?>
<launch>
  <node name="atg_robot_motion_node" type="atg_robot_motion_node" pkg="atg_robot_motion" output="screen">
    <param name="group_name" value="manipulator"/>
    <param name="tip_link" value="tool"/>
    <param name="base_link" value="base_link"/>
    <param name="world_frame" value="world"/>
    <param name="trajectory/time_delay" value="0.001"/>
    <!-- <rosparam param="trajectory/seed_pose">[-3.1415, -1.645, -2.1436 , -0.92, 1.5707, -0.038]</rosparam> -->
    <rosparam command="load" file="$(find atg_abb_irb2400_moveit_config)/config/initial_params.yaml" />
    <param name="visualization/min_point_distance" value="0.01"/>
    <param name="robot_setup_config_name" value="abb_irb2400" /> <!-- for init_descartes robot_model-->
  </node>
  
</launch>
